@mixin mode ($mode) {
    $backgroundColor: #fdfdfd;
    $textColor: #302c22;
    $borderColor: darken(#e1e1e1, 30);
    $linkColor: #990000;
    $linkColorHover: lighten($linkColor, 20);

    @if $mode == "night" {
        $backgroundColor: #1c1e1f;
        $textColor: #ddd;
        $borderColor: lighten(#292929, 30);
        $linkColor: #d4c025;
        $linkColorHover: lighten($linkColor, 20);
    }

    .#{$mode}-mode {
        body {
            background-color: $backgroundColor;
            color: $textColor;
        }

        a {
            color: $linkColor;

            &:hover {
                color: $linkColorHover;
            }
        }

        %bordered-content {
            border-color: $borderColor;
        }
    }
}

@include mode('day');
@include mode('night');